[submodule "src/routes/blog/posts"]
	path = blog-builder/posts
	url = git@github.com:Caellian/blog.git
[submodule "highlight/tree-sitter"]
	path = highlight/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
