(
    highlights: [
        "attribute",
        "boolean",
        "carriage-return",
        "comment",
        "comment.documentation",
        "constant",
        "constant.builtin",
        "constructor",
        "constructor.builtin",
        "embedded",
        "error",
        "escape",
        "function",
        "function.builtin",
        "keyword",
        "module",
        "number",
        "operator",
        "property",
        "property.builtin",
        "punctuation",
        "punctuation.bracket",
        "punctuation.delimiter",
        "punctuation.special",
        "string",
        "string.escape",
        "string.regexp",
        "string.special",
        "string.special.symbol",
        "tag",
        "type",
        "type.builtin",
        "variable",
        "variable.builtin",
        "variable.member",
        "variable.parameter",
    ],
    languages: {
        "JS": LanguageDefinition(
            name: "javascript",
            highlights_query: ["module:HIGHLIGHT_QUERY"],
            injections_query: ["module:INJECTIONS_QUERY"],
            locals_query: ["module:LOCALS_QUERY"],
            injections: ["Regex"],
            line_comment: "//",
            block_comment: ["/*", "*", "*/"],
            detect: ["js", "javascript", "jsx"]
        ),
        "TS": LanguageDefinition(
            name: "typescript",
            language: "module:LANGUAGE_TYPESCRIPT",
            highlights_query: ["module:HIGHLIGHTS_QUERY", "tree_sitter_javascript::HIGHLIGHT_QUERY"],
            injections_query: ["tree_sitter_javascript::INJECTIONS_QUERY"],
            locals_query: ["module:LOCALS_QUERY", "tree_sitter_javascript::LOCALS_QUERY"],
            injections: ["Regex"],
            line_comment: "//",
            block_comment: ["/*", "*", "*/"],
            detect: ["ts", "typescript", "tsx"],
        ),
        "CSS": LanguageDefinition(
            name: "css",
            highlights_query: ["module:HIGHLIGHTS_QUERY"],
            block_comment: ["/*", "*", "*/"],
            detect: ["css"],
        ),
        "Rust": LanguageDefinition(
            name: "rust",
            highlights_query: ["local:rust_highlight.scm"],
            injections_query: ["module:INJECTIONS_QUERY"],
            line_comment: "//",
            block_comment: ["/*", "*", "*/"],
            detect: ["rs", "rust"],
        ),
        "Regex": LanguageDefinition(
            name: "regex",
            highlights: ["module:HIGHLIGHTS_QUERY"],
            detect: ["regex"],
        ),
        "HTML": LanguageDefinition(
            name: "html",
            highlights_query: ["local:html_highlight.scm"],
            injections_query: ["local:html_injections.scm"],
            injections: ["JS", "CSS"],
            block_comment: ["<!--", "-->"],
            detect: ["html"],
        ),
        "GLSL": LanguageDefinition(
            name: "glsl",
            highlights_query: ["module:HIGHLIGHTS_QUERY"],
            line_comment: "//",
            block_comment: ["/*", "*", "*/"],
            detect: ["glsl", "vert", "frag"],
        )
    }
)