@font-face
  font-family "Kiwi Maru"
  font-style normal
  font-weight 400
  src local("Kiwi Maru"), url("/fonts/KiwiMaru.basic-latin.woff2") format("woff2")
  unicode-range U+0000-00FF

@font-face
  font-family "Kiwi Maru"
  font-style normal
  font-weight 400
  src local("Kiwi Maru"), url("/fonts/KiwiMaru.croatian.woff2") format("woff2")
  unicode-range U+0106,U+0107,U+010C,U+010D,U+0110,U+0111,U+0160,U+0161,U+017D,U+017E

@font-face
  font-family "Quicksand"
  font-style normal
  font-weight 400
  src local("Quicksand"), url("/fonts/Quicksand.basic-latin.woff2") format("woff2")
  unicode-range U+0000-00FF

@font-face
  font-family "Quicksand"
  font-style normal
  font-weight 400
  src local("Quicksand"), url("/fonts/Quicksand.croatian.woff2") format("woff2")
  unicode-range U+0106,U+0107,U+010C,U+010D,U+0110,U+0111,U+0160,U+0161,U+017D,U+017E
