@font-face
  font-family "Quicksand"
  font-style normal
  font-weight 400
  src local("Quicksand"), url("/fonts/Quicksand.basic-latin.woff2") format("woff2")
  unicode-range U+0000-00FF
  font-display swap

@font-face
  font-family "Quicksand"
  font-style normal
  font-weight 400
  src local("Quicksand"), url("/fonts/Quicksand.croatian.woff2") format("woff2")
  unicode-range U+0106,U+0107,U+010C,U+010D,U+0110,U+0111,U+0160,U+0161,U+017D,U+017E
  font-display swap

:root
  --fnt-system "Seravek", "Gill Sans Nova", system-ui, "Noto Sans", "Roboto", "Montserrat", "Calibri", "Ubuntu", source-sans-pro, sans-serif
  --fnt-rounded "Quicksand", ui-rounded, "Comfortaa", "Manjari", "Arial Rounded MT", "Calibri", source-sans-pro, sans-serif
  --fnt-mono "Fira Code", ui-monospace, "Source Code Pro", "Menlo", "Consolas", "DejaVu Sans Mono", monospace
