@import 'constants'
@import 'scrollbar'

:root
  --nav-height 4rem
  --transparent hsla(0,0,0,0)
  scrollbar-color var(--accent) var(--bg-light)

*,
::after,
::before
  margin 0
  padding 0
  box-sizing border-box

#portfolio
  max-width 100vw
  min-height 100vh

body
  background-color var(--bg)
  font-family var(--fnt-system)
  color var(--fg)

@import 'text'

.pagewide
  max-width calc(100vw - 2rem)
  width tablet-size

  p
    width initial

.spacer
  flex-grow 100

.center
  display grid
  align-items center
  justify-items center
  grid-template-columns 1fr

  > *
    text-align center
    margin auto

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    text-align initial

.hidden
  display none
  visibility hidden

@import 'components'
