lightness-steps-dark = 5% 10% 15% 20% 45% 50% 60% 70% 75% 80% 95%
lightness-steps-light = 10% 15% 18% 23% 27% 40% 50% 60% 70% 80% 90%

body
    --bg-l 10%
    --bg s("hsl(0,0%,var(--bg-l))")
    --bg-light-l 15%
    --bg-light s("hsl(0,0%,var(--bg-light-l))")
    --bg-accent-l 20%
    --bg-accent s("hsl(0,0%,var(--bg-accent-l))")
    --fg-l 80%
    --fg s("hsl(0,0%,var(--fg-l))")
    --fg-accent-l 90%
    --fg-accent s("hsl(0,0%,var(--fg-accent-l))")
    --fg-muted-l 70%
    --fg-muted s("hsl(0,0%,var(--fg-muted-l))")
    --fg-hint-l 60%
    --fg-hint s("hsl(0,0%,var(--fg-hint-l))")

    --accent-h 187
    --color-s 60%
    --color-l 60%

    for value, i in lightness-steps-dark
        --accent-{i}-l: 100% - value
        --accent-{i}: s("hsl(var(--accent-h), var(--color-s), var(--accent-%s-l))", i)
    
    --accent-l var(--accent-5-l)
    --accent var(--accent-5)

    --clr-red @css { hsl(0,var(--color-s),var(--color-l)) }
    --clr-choral @css { hsl(10,var(--color-s),var(--color-l)) }
    --clr-orange @css { hsl(20,var(--color-s),var(--color-l)) }
    --clr-yellow @css { hsl(50,calc(var(--color-s) + 20%),var(--color-l)) }
    --clr-green @css { hsl(100,var(--color-s),var(--color-l)) }
    --clr-aqua @css { hsl(140,var(--color-s),var(--color-l)) }
    --clr-cyan @css { hsl(180,var(--color-s),var(--color-l)) }
    --clr-teal @css { hsl(200,var(--color-s),var(--color-l)) }
    --clr-blue @css { hsl(240,var(--color-s),var(--color-l)) }
    --clr-purple @css { hsl(270,var(--color-s),var(--color-l)) }
    --clr-pink @css { hsl(300,var(--color-s),calc(var(--color-l) + 20%)) }
    --clr-magenta @css { hsl(330,var(--color-s),var(--color-l)) }

body[data-scheme="light"]
    --bg-l 95%
    --bg-light-l 90%
    --bg-accent-l 85%
    --fg-l 20%
    --fg-accent-l 10%
    --fg-muted-l 30%
    --fg-hint-l 40%

    --color-s 80%
    --color-l 40%

    for value, i in lightness-steps-light
        --accent-{i}-l: value

    --clr-yellow @css { hsl(55, 100%, 40%) }
    