@import 'fonts'

h1,
h2,
h3,
h4,
h5,
h6
  padding-bottom: 0.5rem
  font-family Quicksand, sans-serif
  color var(--accent)

h1
  font-size 2rem
  padding-top 1.2rem

h2
  font-size 1.8rem
  padding-top 1.2rem

h3
  font-size 1.6rem
  padding-top 1.2rem

h4
  font-size 1.4rem
  padding-top 1rem

h5
  font-size 1.2rem
  padding-top 1rem

h6
  font-size 1.1rem
  padding-top 1rem

p,
i,
a,
strong
  font-size inherit
  font-family var(--fnt-system)
  color var(--fg)

p
  padding-bottom 0.6rem
  width clamp(1ch, 100%, 75ch)

a
  text-decoration none
  color var(--accent)

  transition color transition-short ease-in-out

  &:hover
    color var(--accent-4)

  &:active
    color var(--fg)

code
    font-family var(--fnt-mono)
